:root {
    --foggy-white: #F5F5F5;
    --mist: #c7c8ca;
    --text: #19231b;
    --text-hover: #314034;
}

/** we have on-page anchors in this demo and we may want our user's browser to smoothly scroll down the page rahtn than jumping **/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
    color: var(--text);
    font-size: 112.5%; /**18px or 1.125rem **/
    font-size: 1.125em;
    /** best to use percentages **/
}

/** utility classes **/
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-container {
    margin: 0 auto;
    max-width: 90rem; /**1440**/
}

/** Typgoraphy **/
h1,
h2 {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

/** hero banner **/
.hero {
    background: url(../img/hero-sm.webp) center / cover no-repeat fixed;
    /** long hand 
        background-image: url(../img/hero-sm.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    **/
    min-height: 100vh; /** 100% of the viewport height - meaning all other content I have to scroll to see **/
    padding: 2rem;
}

.hero .inner-container {
    backdrop-filter: blur(2px) brightness(110%);
    padding: 2rem 1rem;
    border-radius: 0.25rem;
    max-width: 70ch;
}

.btn {
    background-color: var(--text);
    color: var(--mist);
    border-radius: 0.25rem;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.4s;
}

.btn:hover {
    background-color: var(--text-hover);
}

/** cards **/
.latest-articles {
    padding: 4rem 1rem;
}

.latest-articles .flex-container {
    gap: 1rem;
}

.card {
    display: flex;
    background-color: #fff;
    border: 0.0625rem solid var(--mist);
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    max-width: 45rem; /**720px - this is also the card image size **/
}

.card-header {
    width: 50%;
}

.card-header img {
    border-radius: 0.25rem 0 0 0.25rem;
}

.card-body {
    width: 50%;
    font-size: 1rem;
    padding: 1rem;
}

.card-body a {
    display: block;
    margin-top: 1rem;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: 3rem;
    }
    /** hero banner **/
    .hero {
        background: url(../img/hero-md.webp) center / cover no-repeat fixed;
    }

    /** cards **/
    .latest-articles .flex-container {
        flex-flow: row wrap;
        align-items: stretch;
    }
    .latest-articles h2 {
        width: 100%;
    }
    .card {
        /** to stack the cards either use flex property or covert back to block**/
        flex-direction: column;
        display: block;
        width: calc((100% / 3) - (2rem / 3));
    }

    .card-header,
    .card-body {
        width: unset;
    }

    .card-header img{
        border-radius: 0.25rem 0.25rem 0 0; 
    }
    .card-body {
        padding: 2rem 1rem;
    }
}

@media screen and (min-width: 1440px) {
    h1 { 
        font-size: 4rem;
    }

       /** hero banner **/
    .hero {
        background: url(../img/hero-lg.webp) center / cover no-repeat fixed;
    }

}